@page
@using Microsoft.EntityFrameworkCore
@model UI.Pages.Consultants.Index
@{
    Layout = "_Admin";
}
<div class="container w-50 mt-4">
    <h1 class="display-2 text-center mb-4">Consultants:</h1>
    @foreach (var c in Model.IndexList)
    {
        <div class="card mb-4">
            <div class="card-header text-center">
                <h3 style="display: inline !important;">@c.FullName</h3>
                <a asp-page="/Consultants/Edit" asp-route-id="@c.Id">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square text-black" viewBox="0 0 16 25">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
            </div>
            <div class="card-body m-0 p-0">
                <div class="row">
                    <div class="col" style="padding-right:0">
                        <div class="list-group-flush rounded-0">
                            <div class="list-group-item disabled text-center text-black" style="height:2.5em; border-bottom: 2px solid gray;">
                                <p>Skills</p>
                            </div>
                            @foreach (var skill in c.Skills)
                            {
                                <li class="list-group-item"> @skill.Name</li>
                            }
                        </div>
                    </div>
                    <div class="col" style="border-left: 1px solid silver; padding-left:0">
                        <div class="list-group-flush">
                            <div class="list-group-item disabled text-center text-black" style="height:2.5em; border-bottom: 2px solid gray;">
                                <p>Projects</p>
                            </div>
                            @foreach (var project in c.Projects)
                            {
                                <li class="list-group-item"> @project.Name: @project.Status.Name</li>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>