@page
@model UI.Pages.Projects.IndexModel
@{
    Layout = "_Admin";
}
<div class="container text-center">
    <h2 class="display-2">Projects:</h2>
    @foreach (var project in Model.IndexList)
    {
        <table class="table m-auto mt-3 mb-3 w-75">
            <thead>
            <tr>
                <th colspan="3">
                    <span class="display-6">@project.Name
                    <a style="text-decoration: none" asp-page="/Projects/Edit" asp-route-id="@project.Id">
                        <svg style="padding:0;margin: 0;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </a>
                    <a style="text-decoration: none" asp-page="/Consultants/Connect" asp-route-id="@project.Id" asp-route-id="@project.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-rolodex text-black" viewBox="0 0 16 16">
                            <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                            <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z"/>
                        </svg>
                    </a>
                    <a style="text-decoration: none" asp-page="/Projects/Skills" asp-route-id="@project.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book text-black" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                    </a>
                    </span>
                </th>
            </tr>
            <tr>
                <th colspan="3">Contractor: @project.Company.Name
            </tr>
            <tr>
                <th colspan="3">
                    Requested skills:
                    @foreach (var skill in project.Skills)
                    {
                        @(skill == project.Skills.Last() ? skill.Name : skill.Name + ", ")
                    }
                </th>
            </tr>
            <tr>
                <th class="text-center col-2" scope="col ">Consults</th>
                <th scope="col">Skill</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var pConsultant in project.Consultants)
            {
                <tr>
                    <td>@pConsultant.FullName</td>
                    <td>
                        @foreach (var pConsultantSkill in pConsultant.Skills)
                        {
                            @(pConsultantSkill == pConsultant.Skills.Last() ? pConsultantSkill.Name : pConsultantSkill.Name + ", ")
                        }
                    </td>
                </tr>
            }

            </tbody>
        </table>
    }
</div>